# models
model/
model_photoroom/
model_small_decoder/
text_encoder/

# images
*.png
*.jpg
*.jpeg
*.webp

# python
__pycache__/
*.pyc
.venv/
venv/

# notebooks / archives
*.ipynb
*.7z

# misc
.cache/
*.log
.DS_Store
